# 02 â€” Data Cleaning & Feature Engineering

æœ¬ Notebook è² è²¬å°‡åŸå§‹ Titanic è³‡æ–™è½‰æ›æˆé©åˆæ¨¡å‹ä½¿ç”¨çš„ä¹¾æ·¨æ•¸æ“šï¼Œç¢ºä¿å¾ŒçºŒå»ºæ¨¡å“è³ªç©©å®šã€‚

---

## ğŸ“Œ ç›®æ¨™

- ä¿®æ­£ç¼ºå¤±å€¼
- è£½ä½œæ–°ç‰¹å¾µï¼ˆFamilySizeï¼‰
- å°‡é¡åˆ¥è³‡æ–™è½‰æ›æˆæ¨¡å‹å¯è®€æ ¼å¼
- å»ºç«‹ä¹¾æ·¨ç‰ˆ train dataset ä½œç‚º modeling input

---

## ğŸ“˜ ç›®éŒ„

### 1. åŒ¯å…¥è³‡æ–™
- è®€å– train.csv
- æª¢æŸ¥è³‡æ–™æ ¼å¼èˆ‡ columns

### 2. è™•ç†ç¼ºå¤±å€¼
- Age â†’ ä»¥ä¸­ä½æ•¸è£œå€¼
- Fare â†’ ä»¥ä¸­ä½æ•¸è£œå€¼
- Embarked â†’ ä»¥çœ¾æ•¸è£œå€¼
- Cabin â†’ ç¼ºå¤±éé«˜ï¼Œåˆªé™¤æ•´æ¬„

### 3. è£½ä½œ FamilySize ç‰¹å¾µ
- FamilySize = SibSp + Parch + 1
- è©•ä¼°ä¸åŒ FamilySize çš„å­˜æ´»ç‡ï¼ˆå¯é¸ï¼‰

### 4. é¡åˆ¥è®Šæ•¸ç·¨ç¢¼ï¼ˆEncodingï¼‰
- Sex â†’ male=0, female=1
- Embarked â†’ One-hot encodingï¼ˆEmbarked_Q, Embarked_Sï¼‰

### 5. è¼¸å‡ºä¹¾æ·¨è³‡æ–™
- é¡¯ç¤º head()
- ä¿å­˜æˆä¹¾æ·¨ç‰ˆ train

---

## ğŸ¯ æœ€çµ‚æˆæœ

ä¸€ä»½å®Œæ•´ã€å¯ä¾›æ¨¡å‹ä½¿ç”¨çš„ **cleaned_train DataFrame**ï¼Œ  
ç¢ºä¿æ¨¡å‹ä¸æœƒå—åˆ°ç¼ºå¤±å€¼æˆ–æœªè™•ç†ç‰¹å¾µå½±éŸ¿ã€‚

In [2]:
import pandas as pd 
import matplotlib as plt
import seaborn as sns
import numpy as np
from datetime import datetime, timedelta
import sklearn
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import classification_report, confusion_matrix
train = pd.read_csv('train.csv')
print(train.head())
train.info()

   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [3]:
#  å»ºç«‹ FamilySizeï¼ˆå‰›å‰›æœ‰åšéï¼Œå†åšä¸€æ¬¡å°±å¥½ï¼‰
train["FamilySize"] = train["SibSp"] + train["Parch"] + 1

#  è£œ Ageï¼ˆç”¨ä¸­ä½æ•¸ï¼‰
train["Age"] = train["Age"].fillna(train["Age"].median())

train["Age"] = train["Age"].astype(int)
#  åˆªæ‰ Cabin
train = train.drop(columns=["Cabin"])

#  è£œ Embarkedï¼ˆç”¨çœ¾æ•¸ï¼‰
train["Embarked"] = train["Embarked"].fillna(train["Embarked"].mode()[0])

#  Sex æ˜ å°„æˆ 0/1ï¼ˆé€™æ¬¡æ˜¯å¾åŸå§‹ male/female ä¾†ï¼‰
train["Sex"] = train["Sex"].map({"male": 0, "female": 1})

#  Embarked åš one-hot encoding
train = pd.get_dummies(train, columns=["Embarked"], drop_first=True)

In [ ]:
#  æ•´é«”å­˜æ´»ç‡
df = pd.read_csv("train.csv")
print(df.head())

print("\n=== è³‡è¨Šæ¦‚è¦ ===")
print(df.info())

print("\n=== ç¼ºå¤±å€¼çµ±è¨ˆ ===")
print(df.isnull().sum())

# ç›®æ¨™æ¬„ä½

target_col = "Survived"
survival_rate = df[target_col].mean()
print(f"\næ•´é«”å­˜æ´»ç‡: {survival_rate:.3f} ({survival_rate*100:.2f}%)")

In [5]:
#  æŒ‰ Sex çœ‹å­˜æ´»ç‡
sex_survival = df.groupby("Sex")[target_col].mean()
print("\nä¾æ€§åˆ¥çš„å­˜æ´»ç‡ï¼š")
print(sex_survival)

ä¾æ€§åˆ¥çš„å­˜æ´»ç‡ï¼š
Sex
female    0.742038
male      0.188908
Name: Survived, dtype: float64

In [4]:
#  æŒ‰ Pclass çœ‹å­˜æ´»ç‡
pclass_survival = df.groupby("Pclass")[target_col].mean()
print("\nä¾è‰™ç­‰çš„å­˜æ´»ç‡ï¼š")
print(pclass_survival)

ä¾è‰™ç­‰çš„å­˜æ´»ç‡ï¼š
Pclass
1    0.629630
2    0.472826
3    0.242363
Name: Survived, dtype: float64

In [ ]:

#  å¹´é½¡åˆ†çµ„å­˜æ´»ç‡ï¼ˆæ¯ 10 æ­²ä¸€çµ„ï¼‰
bins = range(0, 90, 10)
labels = [f"{i}-{i+9}" for i in bins[:-1]]
df["AgeGroup"] = pd.cut(df["Age"], bins=bins, labels=labels, right=True)

agegroup_survival = df.groupby("AgeGroup")[target_col].mean()
print("\nä¾å¹´é½¡å€é–“çš„å­˜æ´»ç‡ï¼š")
print(agegroup_survival)

In [4]:
train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,FamilySize,Embarked_Q,Embarked_S
0,1,0,3,"Braund, Mr. Owen Harris",0,22,1,0,A/5 21171,7.2500,2,False,True
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",1,38,1,0,PC 17599,71.2833,2,False,False
2,3,1,3,"Heikkinen, Miss. Laina",1,26,0,0,STON/O2. 3101282,7.9250,1,False,True
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",1,35,1,0,113803,53.1000,2,False,True
4,5,0,3,"Allen, Mr. William Henry",0,35,0,0,373450,8.0500,1,False,True

In [5]:
# å°‡æ¸…æ´—å®Œçš„ train å­˜æˆä¸€å€‹æ–°çš„æª”æ¡ˆ
train.to_csv("train_clean.csv", index=False)
print("å·²å„²å­˜æ¸…æ´—å¾Œè³‡æ–™ç‚º train_clean.csv")

å·²å„²å­˜æ¸…æ´—å¾Œè³‡æ–™ç‚º train_clean.csv